In [2]:
import numpy as np
import pandas as pd

In [136]:
movies = pd.read_csv('./IMDB/movies_metadata.csv', low_memory=False)
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

# -----------------------------
# Feature Engineering
# -----------------------------

In [484]:
movies.shape

(45466, 24)

## adult column:

In [485]:
print('audult unique values:', movies['adult'].nunique())
print('audult values:', movies['adult'].unique())

audult unique values: 5
audult values: ['False' 'True' ' - Written by Ã˜rnÃ¥s'
 ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.'
 ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.']

In [486]:
# True or False values for adult is valid. other rows should be deleted:
movies = movies[(movies['adult'] == 'True') | (movies['adult'] == 'False')]
movies.shape

(45463, 24)

In [487]:
# Replace True to 1 and False to 0 in the column:
movies.replace({'adult': {'True': 1, 'False': 0}}, inplace=True)
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,0,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,0,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,0,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

## homepage, imdb_id, overview and post_path and tagline

In [488]:
# These columns are not informative in this case. So we should delete them.
movies.drop(['homepage', 'imdb_id', 'overview', 'poster_path', 'tagline'], axis=1, inplace=True)

## belongs_to_collection
assing 1 to those which have collection and 0 to others

Actually we don't use specific collection name. Just using has_collection value. This is for generalization!

In [489]:
movies['has_collection'] = movies['belongs_to_collection'].apply(lambda x: 0 if pd.isna(x) else 1)

In [490]:
movies.drop('belongs_to_collection', axis=1, inplace=True)
movies.head()

,adult,budget,genres,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count,has_collection
0,0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,False,7.7,5415.0,1
1,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,False,6.9,2413.0,0
2,0,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,False,6.5,92.0,1
3,0,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,False,6.1,34.0,0
4,0,0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,False,5.7,173.0,1

## budget  and  revenue
First we Should change dtype to int.

Next, it has missing values. So we should replace them.

(?) mean is a good replacement?

(?) normalize or standarize?

In [491]:
movies["budget"] = pd.to_numeric(movies["budget"])
movies["revenue"] = pd.to_numeric(movies["revenue"])
movies.dtypes

adult                     int64
budget                    int64
genres                   object
id                       object
original_language        object
original_title           object
popularity               object
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
spoken_languages         object
status                   object
title                    object
video                    object
vote_average            float64
vote_count              float64
has_collection            int64
dtype: object

In [492]:
# Replace 0 values to mean of all values:
b_mean = movies["budget"].mean()
r_mean = movies["revenue"].mean()
movies.replace({'budget': {0: b_mean}, 'revenue':{0: r_mean}}, inplace=True)
movies.head()

,adult,budget,genres,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,video,vote_average,vote_count,has_collection
0,0,3.000000e+07,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,3.735540e+08,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,False,7.7,5415.0,1
1,0,6.500000e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,2.627972e+08,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,False,6.9,2413.0,0
2,0,4.224579e+06,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,1.120935e+07,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,False,6.5,92.0,1
3,0,1.600000e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,8.145216e+07,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,False,6.1,34.0,0
4,0,4.224579e+06,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,7.657891e+07,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,False,5.7,173.0,1

In [493]:
# standardize these 2 cols
movies["std_budget"] = (movies["budget"] - movies["budget"].mean()) / movies["budget"].std()
movies["std_revenue"] = (movies["revenue"] - movies["revenue"].mean()) / movies["revenue"].std()
movies.drop(['revenue', 'budget'], axis=1, inplace=True)
movies.head()

,adult,genres,id,original_language,original_title,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,status,title,video,vote_average,vote_count,has_collection,std_budget,std_revenue
0,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,False,7.7,5415.0,1,1.342821,5.619285
1,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,False,6.9,2413.0,0,3.443142,3.855996
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,False,6.5,92.0,1,-0.203941,-0.149376
3,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,False,6.1,34.0,0,0.502693,0.968915
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,False,5.7,173.0,1,-0.203941,0.891331

## title and original_title
We can save one of this columns. saving both is not necessary

In [494]:
movies.drop('original_title', axis=1, inplace=True)

## spoken_languages and original_language
We should use one of these columns to generalize the modle. using both is not informative enough.

To simplify, we can choose original_langue and delete spoken_language

In the next step, we should use one-hot endcoder

In [495]:
movies.drop('spoken_languages', axis=1, inplace=True)

In [496]:
encoded = pd.get_dummies(movies['original_language'], prefix='lang')
movies = pd.concat([movies, encoded], axis=1).drop('original_language', axis=1)
movies.head()

,adult,genres,id,popularity,production_companies,production_countries,release_date,runtime,status,title,...,lang_tl,lang_tr,lang_uk,lang_ur,lang_uz,lang_vi,lang_wo,lang_xx,lang_zh,lang_zu
0,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,Released,Toy Story,...,0,0,0,0,0,0,0,0,0,0
1,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,Released,Jumanji,...,0,0,0,0,0,0,0,0,0,0
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,101.0,Released,Grumpier Old Men,...,0,0,0,0,0,0,0,0,0,0
3,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,127.0,Released,Waiting to Exhale,...,0,0,0,0,0,0,0,0,0,0
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,106.0,Released,Father of the Bride Part II,...,0,0,0,0,0,0,0,0,0,0

## production_companies* and production_countries
To generalize the model, we can delete these two cols.

We can check production_companies in model later...

In [497]:
movies.drop(['production_companies','production_countries'], axis=1 , inplace=True)

## popularity

set proper dtype and standadization

In [522]:
movies["popularity"] = pd.to_numeric(movies["popularity"])

In [527]:
movies.popularity.max()

547.488298

In [528]:
movies['std_popularity'] = (movies.popularity - movies.popularity.mean()) / movies.popularity.std()
movies.drop('popularity', axis=1, inplace =True)
movies.head()

,adult,id,release_date,runtime,status,title,video,has_collection,std_budget,std_revenue,...,"genre_{'id': 36, 'name': 'History'}","genre_{'id': 37, 'name': 'Western'}","genre_{'id': 53, 'name': 'Thriller'}","genre_{'id': 80, 'name': 'Crime'}","genre_{'id': 878, 'name': 'Science Fiction'}","genre_{'id': 9648, 'name': 'Mystery'}","genre_{'id': 99, 'name': 'Documentary'}",norm_vote_avg,std_vote_cnt,std_popularity
0,0,862,1995-10-30,81.0,Released,Toy Story,0,1,1.342821,5.619285,...,0,0,0,0,0,0,0,0.77,4.018761,3.155646
1,0,8844,1995-12-15,104.0,Released,Jumanji,0,0,3.443142,3.855996,...,0,0,0,0,0,0,0,0.69,3.601227,2.336944
2,0,15602,1995-12-22,101.0,Released,Grumpier Old Men,0,1,-0.203941,-0.149376,...,0,0,0,0,0,0,0,0.65,3.392460,1.456610
3,0,31357,1995-12-22,127.0,Released,Waiting to Exhale,0,0,0.502693,0.968915,...,0,0,0,0,0,0,0,0.61,3.183694,0.152803
4,0,11862,1995-02-10,106.0,Released,Father of the Bride Part II,0,1,-0.203941,0.891331,...,0,0,0,0,0,0,0,0.57,2.974927,0.904537

## release_date

binning with decade of the movies: lables are ``

In [68]:
movies["release_year"] = pd.to_datetime(movies["release_date"], errors='coerce').dt.year

In [69]:
bins = [1800, 1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020, 2030]
labels = ["1800's", "1900's", "1910's", "1920's", "1930's", "1940's", "1950's", "1960's", "1970's", 
          "1980's", "1990's", "2000's", "2010's", "2020's"]
movies['bin_year'] = pd.cut(movies['release_year'], bins=bins, labels=labels)

In [83]:
encoded = pd.get_dummies(movies['bin_year'], prefix='released_in')
movies = pd.concat([movies, encoded], axis=1)
movies.drop(['release_date', 'release_year', 'bin_year'], axis=1, inplace=True)
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,released_in_1930's,released_in_1940's,released_in_1950's,released_in_1960's,released_in_1970's,released_in_1980's,released_in_1990's,released_in_2000's,released_in_2010's,released_in_2020's
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,0,0,0,0,0,0,1,0,0,0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,0,0,0,0,0,0,1,0,0,0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0,0,0,0,0,0,1,0,0,0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,0,0,0,0,0,0,1,0,0,0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,0,0,0,0,0,0,1,0,0,0

## runtime

binning this col to three groups: `short_movie`, `normal_movies`, `long_movie` and `series`

In [25]:
bins = [0, 45, 120, 250, 99999999999]
labels = ['short_movie', 'normal_movies', 'long_movie', 'series']
movies['bin_runtime'] = pd.cut(movies['runtime'], bins=bins, labels=labels)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,time_short_movie,time_normal_movies,time_long_movie,time_series
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,0,1,0,0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,0,1,0,0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,0,1,0,0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,0,0,1,0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,0,1,0,0

## status

In [498]:
movies['status'].unique()
# we can select just Released ones...

array(['Released', nan, 'Rumored', 'Post Production', 'In Production',
       'Planned', 'Canceled'], dtype=object)

In [499]:
movies = movies[movies.status == 'Released' ]
movies.shape

(45014, 103)

## video
Replace True with 1 and False with 0

In [500]:
movies.replace({'video': {False: 0, True: 1}}, inplace=True)
movies.head()

,adult,genres,id,popularity,release_date,runtime,status,title,video,vote_average,...,lang_tl,lang_tr,lang_uk,lang_ur,lang_uz,lang_vi,lang_wo,lang_xx,lang_zh,lang_zu
0,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,21.946943,1995-10-30,81.0,Released,Toy Story,0,7.7,...,0,0,0,0,0,0,0,0,0,0
1,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,17.015539,1995-12-15,104.0,Released,Jumanji,0,6.9,...,0,0,0,0,0,0,0,0,0,0
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,11.7129,1995-12-22,101.0,Released,Grumpier Old Men,0,6.5,...,0,0,0,0,0,0,0,0,0,0
3,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,3.859495,1995-12-22,127.0,Released,Waiting to Exhale,0,6.1,...,0,0,0,0,0,0,0,0,0,0
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,8.387519,1995-02-10,106.0,Released,Father of the Bride Part II,0,5.7,...,0,0,0,0,0,0,0,0,0,0


## genres
First we should explode all diferent genres for a movie and make a one-hot matrix from it. Then concat one-hot to the main dataFram.

In [141]:
from ast import literal_eval

In [502]:
movies['genres'] = movies['genres'].apply(literal_eval)

In [504]:
encoded = pd.get_dummies(movies.explode('genres')['genres'].astype('str'), prefix='genre')
encoded = encoded.groupby(level=0).sum()
encoded

,genre_nan,"genre_{'id': 10402, 'name': 'Music'}","genre_{'id': 10749, 'name': 'Romance'}","genre_{'id': 10751, 'name': 'Family'}","genre_{'id': 10752, 'name': 'War'}","genre_{'id': 10769, 'name': 'Foreign'}","genre_{'id': 10770, 'name': 'TV Movie'}","genre_{'id': 12, 'name': 'Adventure'}","genre_{'id': 14, 'name': 'Fantasy'}","genre_{'id': 16, 'name': 'Animation'}",...,"genre_{'id': 27, 'name': 'Horror'}","genre_{'id': 28, 'name': 'Action'}","genre_{'id': 35, 'name': 'Comedy'}","genre_{'id': 36, 'name': 'History'}","genre_{'id': 37, 'name': 'Western'}","genre_{'id': 53, 'name': 'Thriller'}","genre_{'id': 80, 'name': 'Crime'}","genre_{'id': 878, 'name': 'Science Fiction'}","genre_{'id': 9648, 'name': 'Mystery'}","genre_{'id': 99, 'name': 'Documentary'}"
0,0,0,0,1,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45462,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45463,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
45464,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45465,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [505]:
movies = pd.concat([movies, encoded], axis=1).drop('genres', axis=1)
movies.head()

,adult,id,popularity,release_date,runtime,status,title,video,vote_average,vote_count,...,"genre_{'id': 27, 'name': 'Horror'}","genre_{'id': 28, 'name': 'Action'}","genre_{'id': 35, 'name': 'Comedy'}","genre_{'id': 36, 'name': 'History'}","genre_{'id': 37, 'name': 'Western'}","genre_{'id': 53, 'name': 'Thriller'}","genre_{'id': 80, 'name': 'Crime'}","genre_{'id': 878, 'name': 'Science Fiction'}","genre_{'id': 9648, 'name': 'Mystery'}","genre_{'id': 99, 'name': 'Documentary'}"
0,0,862,21.946943,1995-10-30,81.0,Released,Toy Story,0,7.7,5415.0,...,0,0,1,0,0,0,0,0,0,0
1,0,8844,17.015539,1995-12-15,104.0,Released,Jumanji,0,6.9,2413.0,...,0,0,0,0,0,0,0,0,0,0
2,0,15602,11.7129,1995-12-22,101.0,Released,Grumpier Old Men,0,6.5,92.0,...,0,0,1,0,0,0,0,0,0,0
3,0,31357,3.859495,1995-12-22,127.0,Released,Waiting to Exhale,0,6.1,34.0,...,0,0,1,0,0,0,0,0,0,0
4,0,11862,8.387519,1995-02-10,106.0,Released,Father of the Bride Part II,0,5.7,173.0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,439050,0.072051,NaN,90.0,Released,Subdue,0,4.0,1.0,...,0,0,0,0,0,0,0,0,0,0
45462,0,111109,0.178241,2011-11-17,360.0,Released,Century of Birthing,0,9.0,3.0,...,0,0,0,0,0,0,0,0,0,0
45463,0,67758,0.903007,2003-08-01,90.0,Released,Betrayal,0,3.8,6.0,...,0,1,0,0,0,1,0,0,0,0
45464,0,227506,0.003503,1917-10-21,87.0,Released,Satan Triumphant,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
45465,0,461257,0.163015,2017-06-09,75.0,Released,Queerama,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

## vote_average and vote_count
normalize vote_average column and standardization on vote_count data

In [506]:
movies['norm_vote_avg'] = (movies.vote_average - movies.vote_average.min()) / (movies.vote_average.max() - movies.vote_average.min())
movies['std_vote_cnt'] = (movies.vote_average - movies.vote_average.min()) / (movies.vote_average.std())
movies.drop(['vote_average', 'vote_count'], axis=1, inplace=True)
movies.head()

,adult,id,popularity,release_date,runtime,status,title,video,has_collection,std_budget,...,"genre_{'id': 35, 'name': 'Comedy'}","genre_{'id': 36, 'name': 'History'}","genre_{'id': 37, 'name': 'Western'}","genre_{'id': 53, 'name': 'Thriller'}","genre_{'id': 80, 'name': 'Crime'}","genre_{'id': 878, 'name': 'Science Fiction'}","genre_{'id': 9648, 'name': 'Mystery'}","genre_{'id': 99, 'name': 'Documentary'}",norm_vote_avg,std_vote_cnt
0,0,862,21.946943,1995-10-30,81.0,Released,Toy Story,0,1,1.342821,...,1,0,0,0,0,0,0,0,0.77,4.018761
1,0,8844,17.015539,1995-12-15,104.0,Released,Jumanji,0,0,3.443142,...,0,0,0,0,0,0,0,0,0.69,3.601227
2,0,15602,11.7129,1995-12-22,101.0,Released,Grumpier Old Men,0,1,-0.203941,...,1,0,0,0,0,0,0,0,0.65,3.392460
3,0,31357,3.859495,1995-12-22,127.0,Released,Waiting to Exhale,0,0,0.502693,...,1,0,0,0,0,0,0,0,0.61,3.183694
4,0,11862,8.387519,1995-02-10,106.0,Released,Father of the Bride Part II,0,1,-0.203941,...,1,0,0,0,0,0,0,0,0.57,2.974927

## id

a few movies doesn't have id. So we can delete them

next we set id as index of the df

In [137]:
print(movies.shape)
print(movies.id.nunique())

(45466, 24)
45436

In [138]:
movies['id'] = pd.to_numeric(movies['id'], errors='coerce')
movies = movies[~movies.id.isna()]

In [139]:
movies.set_index('id', inplace=True)
movies.sort_values('id', ascending=True, inplace=True)

In [140]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
id,,,,,,,,,,,,,,,,,,,,,
2.0,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,3.860491,...,1988-10-21,0.0,69.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}, {'iso_6...",Released,NaN,Ariel,False,7.1,44.0
3.0,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",2.29211,...,1986-10-16,0.0,76.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Shadows in Paradise,False,7.1,35.0
5.0,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,9.026586,...,1995-12-09,4300000.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0
6.0,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",5.538671,...,1993-10-15,12136938.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,False,6.4,79.0
11.0,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",11000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,42.149697,...,1977-05-25,775398007.0,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778.0

# --------------------------
# Save new dataSet
# --------------------------

In [91]:
import os

dir_name = './temp'
if not os.path.exists(dir_name):
    os.mkdir(dir_name)

movies.to_csv('./tmep/cleaned_movies_metadata.csv')