In [328]:
import numpy as np
import pandas as pd

In [329]:
movies = pd.read_csv('./IMDB/movies_metadata.csv', low_memory=False)
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [330]:
# ALL COLUMNS: 
# all column names are bellow. those with (?) are not decided. indented ones are decided ones!

  # adult -> has 5 unique values -> just 'True' and 'False' are valid -> delete others and assing 1 to True and 0 to False
# belongs_to_collection -> is sparse -> we can assign 1 to those which have a collection and 0 to others (?)
  # budget -> has missing values -> how to replace missing ones? -> mean (?) 
# genres -> one-hot -> create a new columns for each genre and use one-hot encoder
  # homepage -> is not informative -> delete
# id -> a few movies does not have id! -> we can delete those
  # imdb_id -> we don't use it -> can be removed 
  # original_language
  # original_title -> delete
  # overview -> not simple to use -> delete
# popularity -> has missing values -> fill missed values and normalization
  # poster_path -> is not informative -> delete
# production_companies ?
# production_countries -> delete?
# release_date -> is informative enogh (?) -> we can use 'year' only (?)
# revenue -> standardization
# runtime -> is informative enogh (?) -> normalization (?)
  # spoken_languages -> not infromative enough
# status -> we can delete all not Released ?
# tagline -> delete
  # title -> almost same as original_name
# video -> what's this feature?! -> (?)
# vote_average -> normalization/standardization
# vote_count -> normalization

# Feature Engineering

In [331]:
movies.shape

(45466, 24)

## adult column:

In [332]:
print('audult unique values:', movies['adult'].nunique())
print('audult values:', movies['adult'].unique())

audult unique values: 5
audult values: ['False' 'True' ' - Written by Ã˜rnÃ¥s'
 ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.'
 ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.']

In [333]:
# True or False values for adult is valid. other rows should be deleted:
movies = movies[(movies['adult'] == 'True') | (movies['adult'] == 'False')]
movies.shape

(45463, 24)

In [334]:
# Replace True to 1 and False to 0 in the column:
movies.replace({'adult': {'True': 1, 'False': 0}}, inplace=True)
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,0,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,0,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,0,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

## homepage, imdb_id, overview and post_path

In [335]:
# These columns are not informative in this case. So we should delete them.
movies.drop(['homepage', 'imdb_id', 'overview', 'poster_path'], axis=1, inplace=True)

## belongs_to_collection


(?) can be informative? 

(?) assing 1 to those which have collection and 0 to others?

In [336]:
print('belongs_to_collection:', movies['belongs_to_collection'].nunique())

belongs_to_collection: 1695

## budget  and  revenue
First we Should change dtype to int.

Next, it has missing values. So we should replace them.

(?) mean is a good replacement?

(?) normalize or standarize?

In [337]:
movies["budget"] = pd.to_numeric(movies["budget"])
movies["revenue"] = pd.to_numeric(movies["revenue"])
movies.dtypes

adult                      int64
belongs_to_collection     object
budget                     int64
genres                    object
id                        object
original_language         object
original_title            object
popularity                object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [338]:
# Replace 0 values to mean of all values:
b_mean = movies["budget"].mean()
r_mean = movies["revenue"].mean()
movies.replace({'budget': {0: b_mean}, 'revenue':{0: r_mean}}, inplace=True)
movies.head()

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,"{'id': 10194, 'name': 'Toy Story Collection', ...",3.000000e+07,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,3.735540e+08,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,0,NaN,6.500000e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,2.627972e+08,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",4.224579e+06,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,1.120935e+07,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,0,NaN,1.600000e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,8.145216e+07,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,0,"{'id': 96871, 'name': 'Father of the Bride Col...",4.224579e+06,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,7.657891e+07,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

## title and original_title
We can save one of this columns. saving both is not necessary

In [320]:
movies.drop('original_title', axis=1, inplace=True)

## spoken_languages and original_language
We should use one of these columns to generalize the modle. using both is not informative enough.

To simplify, we can choose original_langue and delete spoken_language

In the next step, we should use one-hot endcoder

In [322]:
movies.drop('spoken_languages', axis=1, inplace=True)

In [326]:
encoded = pd.get_dummies(movies['original_language'], prefix='lang')
movies = pd.concat([movies, encoded], axis=1).drop('original_language', axis=1)
movies.head()

,adult,belongs_to_collection,budget,genres,id,popularity,production_companies,production_countries,release_date,revenue,...,lang_tl,lang_tr,lang_uk,lang_ur,lang_uz,lang_vi,lang_wo,lang_xx,lang_zh,lang_zu
0,0,"{'id': 10194, 'name': 'Toy Story Collection', ...",3.000000e+07,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,...,0,0,0,0,0,0,0,0,0,0
1,0,NaN,6.500000e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,...,0,0,0,0,0,0,0,0,0,0
2,0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",4.224579e+06,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0,NaN,1.600000e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,...,0,0,0,0,0,0,0,0,0,0
4,0,"{'id': 96871, 'name': 'Father of the Bride Col...",4.224579e+06,"[{'id': 35, 'name': 'Comedy'}]",11862,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,...,0,0,0,0,0,0,0,0,0,0

In [179]:
from ast import literal_eval

In [180]:
movies['genres'] = movies['genres'].apply(literal_eval)

In [181]:
movies.head()

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [182]:
encoded = pd.get_dummies(movies.explode('genres')['genres'].astype('str'), prefix='genre')
encoded = encoded.groupby(level=0).sum()
encoded

,genre_nan,"genre_{'id': 10402, 'name': 'Music'}","genre_{'id': 10749, 'name': 'Romance'}","genre_{'id': 10751, 'name': 'Family'}","genre_{'id': 10752, 'name': 'War'}","genre_{'id': 10769, 'name': 'Foreign'}","genre_{'id': 10770, 'name': 'TV Movie'}","genre_{'id': 12, 'name': 'Adventure'}","genre_{'id': 14, 'name': 'Fantasy'}","genre_{'id': 16, 'name': 'Animation'}",...,"genre_{'name': 'Carousel Productions', 'id': 11176}","genre_{'name': 'GoHands', 'id': 7759}","genre_{'name': 'Mardock Scramble Production Committee', 'id': 7761}","genre_{'name': 'Odyssey Media', 'id': 17161}","genre_{'name': 'Pulser Productions', 'id': 18012}","genre_{'name': 'Rogue State', 'id': 18013}","genre_{'name': 'Sentai Filmworks', 'id': 33751}","genre_{'name': 'Telescene Film Group Productions', 'id': 29812}","genre_{'name': 'The Cartel', 'id': 23822}","genre_{'name': 'Vision View Entertainment', 'id': 11602}"
0,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45462,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45464,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45465,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [183]:
movies = pd.concat([movies, encoded], axis=1).drop('genres', axis=1)
movies

,adult,belongs_to_collection,budget,id,original_language,original_title,popularity,production_companies,production_countries,release_date,...,"genre_{'name': 'Carousel Productions', 'id': 11176}","genre_{'name': 'GoHands', 'id': 7759}","genre_{'name': 'Mardock Scramble Production Committee', 'id': 7761}","genre_{'name': 'Odyssey Media', 'id': 17161}","genre_{'name': 'Pulser Productions', 'id': 18012}","genre_{'name': 'Rogue State', 'id': 18013}","genre_{'name': 'Sentai Filmworks', 'id': 33751}","genre_{'name': 'Telescene Film Group Productions', 'id': 29812}","genre_{'name': 'The Cartel', 'id': 23822}","genre_{'name': 'Vision View Entertainment', 'id': 11602}"
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,862,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,...,0,0,0,0,0,0,0,0,0,0
1,False,NaN,65000000,8844,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,...,0,0,0,0,0,0,0,0,0,0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,15602,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,0,0,0,0,0,0,0,0,0,0
3,False,NaN,16000000,31357,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,...,0,0,0,0,0,0,0,0,0,0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,11862,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,439050,fa,Ø±Ú¯ Ø®ÙˆØ§Ø¨,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,...,0,0,0,0,0,0,0,0,0,0
45462,False,NaN,0,111109,tl,Siglo ng Pagluluwal,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,...,0,0,0,0,0,0,0,0,0,0
45463,False,NaN,0,67758,en,Betrayal,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,...,0,0,0,0,0,0,0,0,0,0
45464,False,NaN,0,227506,en,Satana likuyushchiy,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,...,0,0,0,0,0,0,0,0,0,0
45465,False,NaN,0,461257,en,Queerama,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,...,0,0,0,0,0,0,0,0,0,0